<div id="foot">
  <footer class="page-footer grey darken-3">
    <div class="container">
      <h4 class="text-center text-white pl-4"><strong>STAY CONNECTED</strong></h4>
      <center>
          <form class="form-inline justify-content-center">
                  <input  class="form-control-lg form-control-dark" type="email" placeholder="connect@repcare.com">
                  <button class="btn btn-default btn-black">SIGN UP</button>
           </form><br>
      <ul class="list-inline">
        <li class="list-inline-item"> <i class="fab fa-facebook small pr-4"></i></li>
        <li class="list-inline-item"> <i class="fab fa-twitter small pr-4"></i></li>
        <li class="list-inline-item"> <i class="fab fa-instagram small pr-4"></i></li>
        <li class="list-inline-item"> <i class="fab fa-google-plus-square small pr-4"></i></li>
      </ul>     
      </center> 
      <div class="container center" width="40%">
        <img src="img/f1.png" height='40%' width='100%'>
      </div>
      <br>
      <div class="container">
          <div class="row">
            <div class="col-lg-4 col-sm-12">
              <h5 class="white-text">   About Us  :-</h5>
              <ul>
                  <li class="text-white"><lead>Our Services</lead></li>
                  <li class="text-white"><lead>Testimonials</lead></li>
                  <li class="text-white"><lead>Feedback/Queries</lead></li>
              </ul>
            </div>
            <div class="col-lg-4 col-sm-12">
              <h5 class="white-text">   Email us  :-</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">connect@repcare.com</a></li>
                <li><a class="grey-text text-lighten-3" href="#!"> about@repcare.com</a></li>
               <li><a class="grey-text text-lighten-3" href="#!"> feedback@repcare.com</a></li>
              </ul>
            </div>
              <div class="col-lg-4 col-sm-12">
                <h5 class="white-text"> Contact us  :- </h5>

                  <ul>
                      <li class="grey-text text-lighten-3">L: 011-22187654</li>
                      <li class="grey-text text-lighten-3">M: 9658268380</a></li>
                  </ul>
                       
            </div>
          </div>
        </div>
   </div>
    <div class="footer-copyright">
        <div class="container center">
        © 2018 Copyright Text

        </div>
      </div>
  </footer>

</div>
</body>
</html>