<html>
  <head>
          <title>

          </title>

          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
          <link rel="stylesheet" href="/css/bootstrap.min.css">
          <link rel="stylesheet" href="/css/font-awesome.min.css">
          <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css?family=Basic" rel="stylesheet">

          <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
          <link rel="stylesheet" href="/css/responsive.css">
          <link rel="stylesheet" href="/css/style.css">
      </head>
<body>
 <!--<div class="navbar"> -->
  <nav class="bg-light navbar-light" style="height: 4rem;">
      <div class="nav-wrapper">
         <div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <div class="overlay-content">
            <a href="/home">About Us</a>
            <a href="/home">Our Missions</a>
            <a href="/home">Why Repcare?</a>
            <a href="/Service">Services Offered</a>
            <a href="/Gallery">Galllery</a>
            <a href="/Login">Login</a>
          </div>
        </div>
        <span class="open" onclick="openNav()">&#9776;</span>
        
                    
        
       <span class="brand-text"><a href="/repcare">REPCARE</a></span>
    </div>
    </div>
  </nav>
</div>







  <script src="js1/jquery.min.js"></script>
  <script src="js1/popper.min.js"></script>
  <script src="js1/bootstrap.min.js"></script>
  <script src="js1/navbar-fixed.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>



<script>
    $('.button-collapse').sideNav();
    //Navbar open/close function
    function openNav() {
      document.getElementById("myNav").style.width = "15%";
    }
    
    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
    }
    </script>
