<% include ./partials/header %>
<br><br>
<div class="container">
    <p>About Us and Our Missions</p>
    <div class="row">
     <div class="col-4">
       <div class="card myCard">
         <div class="card-body">
           <img src="card1.png" width="200px" height="200px" class="center">
           <h5 class="text-center pt-2">Why Repcare?</h5> 
           <p class="text-center">We partner with local organisations around the world who are providing long-lasting water and sanitation services.</p>
           <h6 class="text-center"><a href="#">Learn more</a></h6>
       </div>  
     </div>
    </div>
     <div class="col-4">
       <div class="card myCard">
         <div class="card-body">
           <img src="card2.jpg" width="200px" height="198" class="center">
           <h5 class="text-center pt-2">STORY</h5> 
           <p class="text-center">We invest in forming strong water committees,partnering with local government,and training mechanics to perform repairs.</p>
           <h6 class="text-center"><a href="#">Learn more</a></h6>               
         </div>
                </div>	   				
            </div>
            <div class="col-4">
                <div class="card myCard2">
                    <div class="card-body">
                        <img src="card3.png" width="230px" height="200px" class="center"> 
                        <h5 class="text-center pt-2">WE PROVE EVERY PROJECT</h5> 
                        <p class="text-center">We prove and monitor the projects you fund with GPS coordinates and remote sensors to ensure water is always flowing.</p>
                        <h6 class="text-center"><a href="#">Learn more</a></h6>   		   						
                    </div>
                </div>	   				
            </div>
        </div>
</div>
<% include ./partials/footer %>
