<link rel="stylesheet" href="css/home.css">
<% include ./partials/header %>
<div class="whole1">
    <div class="container">
        <div class="rectangle first">
        <div class="rectangle">
             <h3 class=" setbg text-white text-center">About Us</h3>
        </div>
        </div>
    </div>
</div>
<div class="whole2">
    <div class="container ml-2">
        <h2 class="mb-5">Our Missions</h2>
        <ul>
            <li ><i class="material-icons">beenhere</i>Providing users with 100% credible information.</li>
            <li><i class="material-icons">beenhere</i>Providing best services to users</li>
            <li><i class="material-icons">beenhere</i>To Ensure user's security</li>
            <li><i class="material-icons">beenhere</i>To create user friendly environment</li>
        </ul>
    </div>
</div>
<div class="whole3">

        <div class="row mt-5">
                <div class="col s12">
                  <div id="one" class="card ml-5">
                    <div id="1" class="card-content">    
              <h1 class="text text-center">Why REPCARE???</h1>
              <center><a href="#2" onclick="func_one()"><i class="fa fa-chevron-circle-right fa-3x button"></i>
              </a></center>
                    </div>
                    <!-- div id="2" class="card-content">
                      <p><i class="fa fa-wrench"</i>
                        Easy to book services
                      </p>

              </div> -->
              </div>
              </div>
              </div>
              </div>
              

<script src="/public/js/home.js"></script>
<% include ./partials/footer %>
