<link rel="stylesheet" href="css/home.css">
<% include ./partials/header %>
<div class="whole1">
    <div class="container">
        <div class="rectangle first">
        <div class="rectangle">
             <h3 class=" setbg text-white text-center">About Us</h3><br><br>
             <center><p class="lead text-white">REPCARE is online repair and maintenance website that focuses primarily on
                  ease of access to users.Through this website,our user will be able to connect to various servicemen as so required by them.Also user can
                 checkout the information like charges,ratings and contact details of servicemen in seconds.
             </p></center>
        </div>
        </div>
    </div>
</div>
<div class="whole2">
    <div class="container ml-2">
        <h2 class="mb-5">Our Missions</h2>
        <ul>
            <li ><i class="material-icons">beenhere</i>Providing users with 100% credible information.</li>
            <li><i class="material-icons">beenhere</i>Providing best services to users</li>
            <li><i class="material-icons">beenhere</i>To Ensure user's security</li>
            <li><i class="material-icons">beenhere</i>To create user friendly environment</li>
        </ul>
    </div>
</div>
<div class="whole3">
      <div class="row mt-5">
                <div class="col s12">
                  <div id="one" class="card ml-5">
              <h3 class="text text-center">Why REPCARE???</h3>
              <ul>
                  <li ><i class="material-icons">beenhere</i> Easy to book services online</li>
                  <li><i class="material-icons">beenhere</i>	All contact details at one place</li>
                  <li><i class="material-icons">beenhere</i>	User friendly website</li>
                  <li><i class="material-icons">beenhere</i>	Eliminates the needs of keeping chits and visiting cards</li>
                  <li><i class="material-icons">beenhere</i>	Services available in minimum time</li>
                  <li><i class="material-icons">beenhere</i>	A more secure place for every individual user</li>
              </ul>
              </div>
              </div>
              </div>
              </div>
</div>


<script src="/public/js/home.js"></script>
<% include ./partials/footer %>
