<link rel="stylesheet" href="css/intro.css" /> <% include ./partials/header %>
<div class="whole">
  <br /><br />
  <div class="row my-0">
    <div class="col-sm-4">
      <a href="/home">
        <div class="parent" id="g1"><div class="child">About Us</div></div>
      </a>
    </div>
    <div class="col-sm-4 ">
      <a href="/home">
        <div class="parent" id="g2"><div class="child">Why REPCARE?</div></div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="/home">
        <div class="parent" id="g3"><div class="child">Our Missions</div></div>
      </a>
    </div>
  </div>
  <div class="row my-0 mt-4 ">
    <div class="col-sm-4">
      <a href="/Service">
        <div class="parent" id="g4">
          <div class="child">Services Offered</div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="/Gallery">
        <div class="parent" id="g5"><div class="child">Gallery</div></div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="#foot">
        <div class="parent" id="g6"><div class="child">Contact</div></div>
      </a>
    </div>
  </div>
  <div class="row my-0 mt-4">
    <div class="col-sm-4">
      <a href="/Login">
        <div class="parent" id="g7">
          <div class="child">Connect with us</div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="/testimonials">
        <div class="parent" id="g8"><div class="child">Testimonials</div></div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="/Test">
        <div class="parent" id="g9"><div class="child">Write to us!</div></div>
      </a>
    </div>
  </div>
  <br />
  <hr width="50%" class="black darken-2" />
</div>

<script src="/public/js/intro.js"></script>
<% include ./partials/footer %>
