<link rel="stylesheet" href="css/intro.css">
<% include ./partials/header %>
    <div class="row my-0">
        <div class="parent col-sm-4 g3" id="g1">
           <div class="child">About Us</div>
        </div>
        <div class="parent col-sm-4 g3" id="g2">
            <div class="child">Why REPCARE?</div>
        </div>
        <div class="parent col-sm-4 g3" id="g3">
            <div class="child">Our Missions</div>
        </div>
    </div>
    <div class="row my-0">
        <div class="parent col-sm-4 g2" id="g4">
            <div class="child">Services Offered</div>
        </div>
        <div class="parent col-sm-4 g2" id="g5">
            <div class="child">Gallery</div>
        </div>
        <div class="parent col-sm-4 g2" id="g6">
            <div class="child">Contact</div>
        </div>
    </div>
    <div class="row">
        <div class="parent col-sm-4 g1" id="g7">
            <div class="child">Connect with us</div>
        </div>
        <div class="parent col-sm-4 g1" id="g8">
            <div class="child">Testimonials</div>
        </div>
        <div class="parent col-sm-4 g1" id="g9">
            <div class="child">Write to us!</div>
        </div>
    </div>
</div>
<br><br><br>
<hr width='50%'>
<br><br><br>
<script src="/public/js/intro.js"></script>
<% include ./partials/footer %>

<script>

</script>
