<% include ./partials/header %>
<link rel="stylesheet" href="/public/css/intro.css">
<br><br><br><br>
<hr>
<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="/home" class=" h2 text-center cube">About us</a>
        </div>
        <div class="col-sm-4">
            <a href="/home" class="h2 text-cente cube">Our Missions</a>
        </div>
        <div class="col-sm-4">
            <a href="/home" class="h2 text-center cube">Why REPCARE?</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a href="/Service" class=" h2 text-center">Services Offered</a>
        </div>
        <div class="col-sm-4">
            <a href="/Gallery" class="h2 text-center">Gallery</a>
        </div>
        <div class="col-sm-4">
            <a href="/Test" class="h2 text-center">Testimonials</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a href="/Login" class="h2 text-center">Connect with us</a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="h2 text-center">Write to us!</a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="h2 text-center">Contacts</a>
        </div>
    </div>
</div>
<br><br><br>
<hr width='50%'>
<br><br><br>
<script src="/public/js/intro.js"></script>
<% include ./partials/footer %>