<html>
    
<head>
    <link rel="stylesheet" href="css/landing.css">


<!-- CSS Files-->
    <link rel="stylesheet" href="/css/bootstrap.css">
            <link rel="stylesheet" href="/css/font-awesome.min.css">
            <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />

</head>


<body>
<!--Home Screen Slider-->
<div class="container">
<div class="row">
    <div class="col-sm-12 center">
        <h2>REPCARE</h2>
        <h4>Easy to get repair & maintenance.</h4>
    </div>
</div>
<br><br>
<center><a href="/repcare" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> Get Started!</a>
</center>
</div>

<!-- Javascript Files-->

<script src="/js/landing.js"></script>
<script src="js1/jquery.min.js"></script>
<script src="js1/popper.min.js"></script>
<script src="js1/bootstrap.min.js"></script>
<script src="js1/navbar-fixed.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
  
</html>



