<% include ./partials/header %>
<link rel="stylesheet" href="/css/Login.css">
<div class="whole">
    <div class="card ml-auto" id="form">
       <h4 class="center text">
        <i class="fa fa-wrench prefix fa-lg  px-2" ></i>REPCARE</h4>
       <hr class="red my-1" width="100%" height="5%">
           <form action="/form" method="POST">
             <h5><i class="material-icons prefix small px-2">account_circle</i><lead>Name</lead></h5>
             <div class="form-row my-1">
               <div class="col">
               <input type="text" class="form-control" name="user[firstname]"placeholder="First name">
               </div>
               <div class="col">
               <input type="text" class="form-control"  name="user[lastname]"placeholder="Last name">
               </div>
            </div>
               <h5><i class="material-icons prefix small px-2">call</i><lead>Phone</lead></h5>
                <div class="form-group">
                    <input class="form-control" type="text" name="user[phoneno]" placeholder="e.g. 9478346370">
                </div>
                <h5><i class="material-icons prefix small px-2">email</i><lead>Email Id</lead></h5>

                  <div class="form-group">
                      <input class="form-control validate" type="text" name="user[email]" placeholder="e.g. 123@abc.com">
                  </div>
              <div class="form-group">
                 <center><button class="btn red btn-lg">Sign Up</button></center> 
              </div>
              <div class="center medium">Existing Users <a href="/Login" class="link">Log In></div>
          </form>
          
</div>
</div>
<script >
$(document).ready(function() {
    $('select').material_select();
  });
</script>
<% include ./partials/footer %>
