<% include partials/header %>
<h1 class="mx-5">Thanks for Booking</h1>
<h4 class="mx-5">Your Request Is Successfully Booked</h4>
<a href="/repcare" class="btn teal my-2 mx-5">Go Back</a> <% include
partials/footer %>
