<% include ./partials/header %>
<html>
  <head>
    <title>Testimionials</title>
    <link rel="stylesheet" href="css/testimonials.css" />
  </head>

  <body>
    <br /><br />
    <div class="test1">
      <center>
        <br />
        “I love the simplicity of website.It is user friendly and I love the
        website personally a lot” <br />-Priyanka<br />
      </center>
    </div>
    <br /><br />
    <div class="test2">
      <center>
        <br />
        “I am a developer and I love the way I can customize it in my way.It is
        open source website and I am truly grateful that I can make it better in
        my own way” <br />-Surbhi<br />
      </center>
    </div>
    <br /><br />
    <div class="test3">
      <center>
        <br />
        “Previously I wonder whether Just dial is the only website to guide us
        to various contacts….but I am amazed that here comes another website
        REPCARE an effort which I truly can appreciate” <br />-Anuradha<br />
      </center>
    </div>
    <br /><br />
    <div class="test4">
      <center>
        <br />
        “You guys rocked on this project.Thanks so much for doing a great job.”
        <br />-Nitin<br />
      </center>
    </div>
    <br /><br />
    <div class="test5">
      <center>
        <br />
        “Online booking has been made very easy because of this website.Love you
        guys…Keep doing the great work” <br />-Virishka<br />
      </center>
    </div>
    <br /><br />
  </body>
</html>

<% include ./partials/footer %>
