<% include ./partials/header %>

<div class="container">
        <div class="row">
          <div class="col-md-4 mt-5" style="background-color:rgba(115, 26, 118, 0.9); height:75%;">
          <h4 class="text-center text-light mt-4">Write your feedback</h4>
          <form action="/feedback" method="POST">
              <div class="form-group">
                <label for="username" class="text-light mt-2 ml-4">Your Name:</label>
                <input type="name" class="form-control ml-4" name="name" placeholder="Enter your name" style="width:80%;">
              </div>
              <div class="form-group">
                    <label for="email" class="text-light mt-2 ml-4" >Your Email:</label>
                    <input class="form-control ml-4 white"  placeholder="Enter email" name="email" style="width:80%;">
                  </div>
              <div class="form-group">
                  <label class="text-light mt-2 ml-4"">Feedback:</label>
                  <textarea class="form-control ml-4" rows="5" name="description" placeholder="Drop your text here and post it." style="width:80%;"></textarea>
              </div>
              <div class="form-group center mr-5">
                <button type="submit" class="btn  btn-outline-light mt-2 ml-4 mb-3">Post</button>
              </div>
          </form>
      </div>
  
      <div class="col-md-8 mt-5">
          <iframe src="/repcare/feedback" width="800" height="800" frameborder="0">
          </iframe>
      </div>
    </div>
  </div>



<% include ./partials/footer %>