.whole{
  background: url('/img/login.jpg');
  background-size: cover;
  background-position: left top;
  width:100%;
  height:100vh;
  padding-top: 2%;
  }
#form {
    background:#ffe3b3;
    width: 28%;
    height: 90%;  
    font-size: 1.0em;
   }
   #form1{
    background:#ffe3b3;
    width: 28%;
    height: 60%;  
    font-size: 1.0em;
    margin-top: 10%;
   }
.card{
  margin-right: 10%;
  opacity: 0.8;
  border: 1px solid #ffe3b3;
  border-radius: 1em;
}
.text{
  color: red;
  font-size: 2.0em;
  font-weight:700em;
}
button{
  border-radius:10.0em;
}
.link{
  color: red;
  text-decoration: underline;
}